{% extends "generic-page.html" %}

{% block style %}
<style type="text/css">
	.main-section{
		min-height: 100vh;
		height: initial;
	}
	.page .page-content{
		padding: 0px;
	}
	.bg-pattern{
		padding-bottom: 60px !important;
		padding-top: 60px !important;
	}
</style>
{% endblock %}

{% block content %}
        <!-- about-us section -->
        <section id="about-us" class="page">

          <!-- page content -->
          <div class="page-content" style="padding-top: 120px; padding-bottom: 60px;">
            <div class="container" >

              <!-- title page -->
              <div class="title-page clearfix" >
                <span class="title-mobile">O que é VemDoLixo?</span>
                <!-- <h2>Quem somos nós?</h2> -->
                <!-- <div class="devider-top"></div> -->
                <div style="height: 50px;"></div>
                <i class="fa fa-arrow-circle-down"></i>
                <p class="text-center" >Nós representamos o interesse da sociedade <br/>pelo desenvolvimento sustentavel.</p>
                <div class="devider-bottom"></div>
              </div><!-- end title page -->

              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="row">
                    <div class="col-md-3">
                      <h3 class="title-page-2"><span>Visão Geral</span></h3>
                    </div>
                    <div class="col-md-9">
                    <p>O projeto VemDoLixo foi criado para revolucionar o descarte de resíduos sólidos. </p>
                    <p>Com a promulgação da Política Nacional dos Resíduos Sólidos (PNRS) em 2010, todos nós nos tornamos responsáveis pela correta destinação dos resíduos que produzimos. Isso fez aumentar o interesse no assunto e fomentar iniciativas dentro do tema voltadas a redução da geração, a reciclagem de materiais e a economia circular. </p>
                    <p>O VemDoLixo visa unificar informações sobre os múltiplos atores que fazem parte da cadeia dos resíduos. VemDoLixo pretende fornecer informações sobre as entidades que estão legalizadas para realizar a destinação, como local, tipos de resíduo que trabalha e preços praticados. Desta maneira acreditamos que podemos contribuir para que nenhum resíduo deixe de ser destinado corretamente por falta de informação.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <h3 class="title-page-2"><span>Ideais</span></h3>
                    </div>
                    <div class="col-md-9">
                      <p>
                        Ser a plataforma que consolida o maior volume de informações sobre empresas, entidades, ONGs e cooperativas que participam no descarte de resíduos sólidos, de maneira que tais informações sejam dispostas à toda sociedade, de forma simples, prática e acessível.                 
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <h3 class="title-page-2"><span>Origem</span></h3>
                    </div>
                    <div class="col-md-9">
                      <p>O VemDoLixo surgiu com seus fundadores vendo o descarte incorreto de lixo eletrônico ao redor de nossas residências, e movidos pelo pensamento de que se não podemos fazer a diferença ao nosso redor, não podemos reclamar de como está o mundo. </p>
                      <p>Com a indignação do descarte incorreto e a necessidade de promover o empoderamento social, trabalhando para que as cooperativas e catadores de recicláveis ganhem visibilidade, reconhecimento e recursos financeiros, surgiu o VemDoLixo.</p>
                    </div>
                  </div>

                  <div class="white-space-10"></div>
                </div>
              </div>
            </div>

          </div> <!-- end page content -->

        </section><!-- end about-us section -->

 <!-- the-mission section -->
        <section id="the-mission" class="page">

          <!-- page content dark -->
          <div class="page-content dark" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- title page -->
                  <div class="title-page clearfix" >
                    <span>O Futuro</span>
<!--                     <h2>
                      The Mission 
                    </h2> -->
                    <!-- <div class="devider-top"></div> -->
                    <div style="height: 50px;"></div>
                    <i class="fa fa-arrow-circle-down"></i>
                    <p class="text-center" >Para onde vamos caminhar.</p>
                    <div class="devider-bottom"></div>
                  </div><!-- end title page -->

                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="title-number"><span>1.</span> Valor no lixo</h4>
                      <ul><li>Possibilitar que os resíduos tenham maior possibilidade de negociação.<br></li><li>Aumentar a rentabilidade dos envolvidos com o processamento do lixo.</li></ul>
                    </div>
                    <div class="col-md-6">
                      <h4 class="title-number"><span>2.</span> Network</h4>
                      <ul><li>Reduzir o numero de atravessadores aumentando o network entre os atores da cadeia de reciclagem<br></li></ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="title-number"><span>3.</span> Generalizar</h4>
                      <ul><li>Expandir a plataforma para abraçar cada vez mais tipos de resíduos e entidades que podem recebê-los.<br></li></ul>
                    </div>
                    <div class="col-md-6">
                      <h4 class="title-number"><span>4.</span> Mapear</h4>
                      <ul><li>mapear os atores por região para que a sociedade cívil tenha acesso a essas informações de maneira rápida e precisa.<br></li></ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="title-number"><span>5.</span>  Alternativas</h4>
                      <ul><li>identificar possíveis resíduos que não tenham capacidade de reinserção dentro da cadeia produtiva e propor alternativas.</li></ul>  
                    </div>
                  </div>

                  <div class="white-space-20"></div>
                </div>
              </div>
            </div>
          </div><!-- end page content dark -->

          <!-- page content xdark -->
          <div class="page-content dark x-dark" style="padding-bottom: 60px; padding-top: 60px;">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="title-page2 clearfix" >
                      <h3>
                        <span style="font-size: 24px;"> Quem nos apoia</span>
                      </h3>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="title-page-2"><span>Estão falando de nós</span></h4>
                        <p>Nós não estamos sozinhos nessa emporeitada. Algumas instituições estão ajudando financeiramente e na divulgação do projeto. Nós pouco seríamos sem esse suporte.</p>
                        <p> <a href="https://www.facebook.com/sharer/sharer.php?u=www.vemdolixo.com" target="_blank" class="btn btn1 btn-light submit-2"> Ajude a divulgar </a></p>
                      </div>
                      <div class="col-md-6">
                        <!-- list sponsor -->
                        <ul class="list-unstyled list-sponsor clearfix">
                          <li><a href="#"><img src="https://s3-sa-east-1.amazonaws.com/residoando/folha.png" alt=""></a></li>
                          <li><a href="#"><img src="https://s3-sa-east-1.amazonaws.com/residoando/agencia_usp.png" alt=""></a></li>
<!--                           <li><a href="#"><img src="assets/theme/img/sponsor/2.png" alt=""></a></li>
                          <li><a href="#"><img src="assets/theme/img/sponsor/4.png" alt=""></a></li>
                          <li><a href="#"><img src="assets/theme/img/sponsor/5.png" alt=""></a></li>
                          <li><a href="#"><img src="assets/theme/img/sponsor/6.png" alt=""></a></li> -->
                        </ul><!-- end list sponsor -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end page content xdark -->

        </section><!-- end the-mission section -->

{% endblock %}

{% block script %}
{% endblock %}