<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:description" content="VemDoLixo - Seu portal para reciclagem e descarte adequado de resíduos">
    <meta property="og:title" content="Vem Do Lixo">
    <meta property="og:image" content="https://s3-sa-east-1.amazonaws.com/residoando/recycle-symbol-grass.jpg">
    <meta property=”og:site_name” content="Vem Do Lixo"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>VemDoLixo - Sua plataforma de Reciclagem</title>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic%7CMontserrat:400,700' rel='stylesheet' type='text/css'>    
    <!-- Bootstrap -->
    <link href="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu -->
    <link href="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/metisMenu/metisMenu.css" rel="stylesheet">
    <!-- Template style -->
    <link href="https://s3-sa-east-1.amazonaws.com/residoando/assets/theme/css/style.css" rel="stylesheet" type="text/css"> 
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="https://s3-sa-east-1.amazonaws.com/residoando/icon-1.png"/>
    <!-- page loader -->
<!--     <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/pace.min.js"></script>  -->
    <!-- font-awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- lightbox -->
    <link href="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-82644772-1', 'auto');
	  ga('send', 'pageview');

	</script>
  </head>

  <style type="text/css">
    .mdl-textfield{
      padding: 0px;
      width: 100%;
    }
    .mdl-textfield__input{
      border-bottom: 0px;
      border: 1px solid #fff;
      margin-bottom: 5px;
      height: 34px;
      background: rgba(255, 255, 255, 0.2);
    }
    .mdl-textfield__label{
      padding-left: 10px;
      color: #fff;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    }
    .mdl-textfield__label:after{
      background-color: #d4d4d4;
    }
    .mdl-button--raised.mdl-button--colored{
      background: #fff;
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0px;
      width: 100%;
    }
    .wrap-header .content-header .mid-content-header h1{
      margin-bottom: 0px;
      letter-spacing: 2px;
      font-size: 48px;
    }
    .site-description.f_bottom{
      background: rgba(255, 255, 255, 0.15);
    }
    .box-team{
      width: 100%;
      max-width: 100%;
    }
    .box-team .team-desc{
      width: 80%;
      max-width: 80%;
    }
    .title-page-2{
      color: #4a8732;
    }
    .page p, .page blockquote{
      margin-bottom: 10px;
    }
    .header-spacing{
      padding-top: 60px !important;
      padding-bottom: 10px !important;
    }
    .devider-bottom-title{
      background: #9bc43e;
      height: 2px;
      width: 76px;
      margin: 0 auto;
    }
    header{
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1) !important;
      margin-bottom: 10px;
      position:fixed;
      top:0px;
      width: 100%;
      z-index: 20;
      background-color: #ffffff;
      max-height: 90px;
    }
    .wrapper{
      box-shadow: none !important;
    }
    .page-first-title{
      font-size: 30px !important;
    }
    .main-section{
      height:110vh;
    }
    .side-section{
      padding-top: 2vh;
    }
    .mdl-shadow--2dp{
      width: 100%;
      height: 20vh;
      margin-bottom: 20px;
    }
    .page .title-page{
      padding-bottom: 0px;
    }
    a{
      color: #4a8732;
    }
    .btn1.btn-form{
      padding-top: 5px;
    }
    .padd-donate{
      margin-right: 15px;
    }
    .padd-donate a{
      border: 2px solid #000000;
      margin-top: 25px;
    }
    .bottom-footer{
      background: #4C8832;
      box-shadow: 10px 0px 6px -6px rgba(0, 0, 0, 0.1) !important;
    }
    .main-footer .social-footer a{
      background: #fff;
      color: #292929;
    }
    .bottom-footer .back-to-top{
      background: #fff;
      color: #292929;
    }
    @media (max-width: 600px) {
  	  .mdl-button--raised.mdl-button--colored{
  	  	font-size: 6px;
  	  }
  	  .page .title-page span{
  	  	font-size: 24px;
  	  }
  	  .wrap-header .content-header .mid-content-header h1{
  	  	font-size: 3rem;
  	  }
  	  .wrap-header .content-header .mid-content-header{
  	  	padding-right: 0px;
  	  	padding-left: 0px;
  	  }
  	  .mdl-textfield__label{
  	  	font-size: 0.4rem;
  	  }
  	  .mdl-button--raised.mdl-button--colored{
  	  	font-size: 0.6rem;
  	  }
  	  .logo-with-slogan{
  	  	max-width: 136%;
  	  }
  	}
  </style>

{% block style %}
{% endblock %}

  <header>
<!--     <div class="header">
      <div>
        <a href="/" class="logo black">
          <img style="height: 80px; max-width: 100%;" class="logo-with-slogan" src="https://s3-sa-east-1.amazonaws.com/residoando/logo-with-slogan-mix-green.svg" alt="">
        </a>       
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-3">
        <a href="/" class="logo black"><img style="height: 90px; max-width: 100%;" class="logo-with-slogan" src="https://s3-sa-east-1.amazonaws.com/residoando/logo-with-slogan-mix-green.svg" alt=""></a>
      </div>
      <div class="col-sm-1 hidden-sm hidden-xs text-right"></div>
      <div class="col-sm-8 hidden-sm hidden-xs text-right">
        <div class="padd-donate" style="float: right;">
          <!-- <a  href="{% url 'about' %}" class="btn btn1 submit">Quem somos</a> -->
        </div>
        <div class="padd-donate" style="float: right;">
          <a  href="/blog" class="btn btn1 submit">Conheça o Blog</a>
        </div>
        <div class="padd-donate" style="float: right;">
          <!-- <a  href="#modal-donate" data-toggle="modal" class="btn btn1 submit">Fique por dentro</a> -->
        </div>
        <div class="padd-donate" style="float: right;">
          <!-- <a  href="{% url 'great_amounts' %}" data-toggle="modal" class="btn btn1 submit">Sem sair de casa</a> -->
        </div>
        <div class="padd-donate" style="float: right;">
          <!-- <a  href="{% url 'great_amounts' %}" data-toggle="modal" class="btn btn1 submit">Para Empresas</a> -->
        </div>
      </div>
    </div>
  </header>

  <body data-spy="scroll" data-target=".menu-area" data-offset="80">

    <!-- wrapper -->
    <div class="wrapper">

      <!-- main body content -->
      <div class="main-body">

        <!-- the-team section -->
        <section id="main-content" class="page main-section">

          <!-- page content -->
          <div class="page-content" >
            {% block content %}

            {% endblock %}
          </div><!-- end page content -->

        </section> <!-- end the-team section -->

        <!-- Testemunhos -->
        <!-- <section id="meet-the-angles" class="page">

          <div class="page-content dark">
            <div class="container">
              <div class="title-page2 clearfix" >
                <h3>
                  <span>O que dizem de nós?</span>
                </h3>
              </div>

              <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                  <div class="box-words">
                    <div class="words" >
                      Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. 
                    </div>
                    <img src="assets/theme/img/kid/kid-1.jpg" alt="" class="img-circle" >
                    <h4>Jhon Glen</h4>
                    <p>8 Years Old</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="box-words">
                    <div class="words" >
                      Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus. 
                    </div>
                    <img src="assets/theme/img/kid/kid-2.jpg" alt="" class="img-circle" >
                    <h4>Rose Jhonathan</h4>
                    <p>11 Years Old</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="box-words">
                    <div class="words" >
                      Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus. 
                    </div>
                    <img src="assets/theme/img/kid/kid-3.jpg" alt="" class="img-circle" >
                    <h4>Popy Lury</h4>
                    <p>7 Years Old</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="box-words">
                    <div class="words" >
                      Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. 
                    </div>
                    <img src="assets/theme/img/kid/kid-4.jpg" alt="" class="img-circle" >
                    <h4>Alex Denis</h4>
                    <p>10 Years Old</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </section> -->

        

        <!-- contact section -->
        <section id="contact" class="page">

          <!-- page content -->
          <div class="page-content dark bg-pattern"  >

            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="title-page clearfix" >
                    <span>Entre em contato</span>
                    <h2>
                      Entre em contato 
                    </h2>
<!--                     <div class="devider-top"></div>
                    <i class="fa fa-arrow-circle-down"></i>
                    <p class="text-center" >Tem alguma dúvida? Sugestão? <br/>Estamos sempre a disposição!</p>
                    <div class="devider-bottom"></div> -->
                  </div>

<!--                   <div class="text-center clearfix">

                    <div class="col-md-4 no-padding"></div>

                    <div class="col-md-4 no-padding">
                      <div class="contact-info">
                        <h3>Email</h3>
                        <i class="fa fa-envelope"></i>
                        <p>atendimento@vemdolixo.com.br</p>
                      </div>
                    </div>

                    <div class="col-md-4 no-padding"></div>

                  </div> -->


                  <div class="white-space-20"></div>
                  <form method="post" id="ContactForm" name="contactForm" class="validate-form" novalidate="novalidate" action="{% url 'footer_form' %}">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="color-white">Nome completo (*)</label>
                          <input type="email" class="form-control form-flat" placeholder="Seu nome completo" name="fullname" required id="full_name_footer">
                        </div>
                      </div>
                      <div class="col-md-6">

                        <div class="form-group">
                          <label class="color-white">Email (*)</label>
                          <input type="email" class="form-control form-flat" placeholder="Seu email" name="email" required id="email_footer">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="color-white">Sua mensagem (*)</label>
                      <textarea class="form-control form-flat" name="message" rows="8" placeholder="Sua mensagem" ></textarea>
                    </div>
                    <div class="white-space-20"></div>

                    <div class="form-group text-center">
                      <button class="btn btn1 btn-light btn-form submit-2" type="submit" id="submit_form_footer"> Enviar </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div><!-- page content -->

          <!-- map -->
<!--           <div class="map">
            <div class="collapse" id="map-toogle">
              <div class="map-area">
                <div class="sh-top"></div>
                <div class="map" id="map" data-lat="48.856318" data-lng="2.351866"></div>
                <div class="map-scroll-space"></div>
                <div class="sh-bottom"></div>
              </div>
            </div>

            <div class="btn-map" >
              <div class="container text-center">
                <a href="#map-toogle" class="font-alt" data-toggle="collapse" >
                  <span class="ic-map" >
                    <i class="fa fa-map-marker"></i>
                  </span>
                  View Map
                </a>
              </div>
            </div>
          </div> -->
          <!-- end map -->
        </section><!-- end contact section -->

      </div><!-- end main body content -->
      <!-- footer -->
      <footer class="main-footer">
        <!-- bottom footer -->
        <div class="bottom-footer" >
          <a href="#" class="back-to-top" >
            <i class="fa fa-angle-up"></i>
          </a>
          <div class="container">
            <ul class="list-inline social-footer">
              <li><a href="https://www.facebook.com/Vemdolixo/"><i class="fa fa-facebook"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-google"></i></a></li> -->
              <!-- <li><a href="https://twitter.com/LixoVem"><i class="fa fa-twitter"></i></a></li> -->
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-tumblr"></i></a></li> -->
            </ul>
          </div>
        </div><!-- end bottom footer -->
      </footer><!-- end footer -->      
      <!-- overfly push menu -->
      <div class="over-fly-push"></div>
    </div><!-- end wrapper -->

    <!-- Note: Put Modal on Bottom -->
    <!-- Modal donate -->
    <div class="modal fade" id="modal-donate" >
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" >Fique por dentro do que acontece aqui!</h3>
          </div>
          <form action="/generic-register/" id="generic-register" method="post">
            {% csrf_token %}
            <div class="modal-body clearfix">
              <h4>Saiba de todas as novidades, artigos e publicações do nosso portal!</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nome:</label>
                    <input id="first_name" type="text" name="first_name" class="form-control" placeholder="Seu Nome">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Sobrenome:</label>
                    <input  id="last_name" type="text" name="last_name" class="form-control" placeholder="Sobrenome">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email:</label>
                    <input id="contact_email" type="email" name="contact_email" class="form-control" placeholder="Email" >
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn1 btn-dark submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- end  Modal Donate-->
    <!-- Modal volunteer-->
    <div class="modal fade" id="modal-volunteer" >
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" >Become a Volunteer</h3>
          </div>
          <form>
            <div class="modal-body clearfix">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control" placeholder="First Name" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last Name" >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" placeholder="Email" >
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn1 btn-dark">Send Request</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- end  Modal volunteer-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/jquery.min.js"></script>
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/jquery.easing-1.3.pack.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/bootstrap/js/bootstrap.min.js"></script>   
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/scroll.js"></script> 
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/isotope.pkgd.min.js"></script>
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/external/metisMenu/metisMenu.js"></script> 
    <!-- theme js -->
    <script src="https://s3-sa-east-1.amazonaws.com/residoando/assets/theme/js/theme.js"></script>  
    <!-- map js -->

    <script type="text/javascript">
        jQuery(".submit").mouseover(function() {
            this.style.background = "#9bc43e";
            this.style.color = "#fff";
        });
        jQuery(".submit").mouseout(function() {
            this.style.background = "#fff";
            this.style.color = "#000";
        });
        jQuery(".submit-2").mouseover(function() {
            this.style.background = "#9bc43e";
            this.style.color = "#fff";
        });
        jQuery(".submit-2").mouseout(function() {
            this.style.background = "#000";
            this.style.color = "#fff";
        });

        document.getElementById("submit_form_footer").disabled = true;
        $('#full_name_footer').on('input', function() { 
            var full_name_footer = $("#full_name_footer").val();
            var email_footer = $("#email_footer").val();

            if (full_name_footer.length > 3 && email_footer.indexOf('@') !== -1 && full_name_footer.indexOf(' ') !== -1 && email_footer.length > 0) {
              document.getElementById("submit_form_footer").disabled = false;
            }else{
              document.getElementById("submit_form_footer").disabled = true;
            }
        });
        $('#email_footer').on('input', function() { 
            var full_name_footer = $("#full_name_footer").val();
            var email_footer = $("#email_footer").val();

            if (full_name_footer.length > 3 && email_footer.indexOf('@') !== -1 && full_name_footer.indexOf(' ') !== -1 && email_footer.length > 0) {
              document.getElementById("submit_form_footer").disabled = false;
            }else{
              document.getElementById("submit_form_footer").disabled = true;
            }
        });
    </script>

{% block script %}
{% endblock %}

  </body>
</html>